.LoginRegisterMain
{
    height: calc(100vh - 100px);
    background: linear-gradient(180deg, #0c0c1d , #111134 );
}
.FormsWrapper
{
    max-width: 1366px;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    scrollbar-width: none;
}
.LoginDiv
{
    flex: 1;
    height: 100%;
}
.RegisterDiv
{
    flex: 1;
    height: 100%;
}
.LoginForm
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap:20px;
}
.RegisterForm
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap:10px;
}
.RegisterForm span 
{
    color:red;
    font-size: 18px;
}
.LoginForm h1
{
    color:orange;
    font-size: 50px;
}
.LoginForm input 
{
    padding: 20px;
    width: 400px;
    font-size: 20px;
    border-radius: 15px;
    background-color: transparent;
    border:1px solid gray;
    color:gray;
    
}
.LoginBtn
{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    justify-content: center;
}
.LoginBtn button 
{
    padding: 10px;
    width: 200px;
    font-size:15px;
    font-weight: 600;
    background-color: orange;
    border:none;
    border-radius: 15px;
    cursor: pointer;
}
.RegisterForm h1 
{
    color:orange;
    font-size: 50px;
}
.RegisterForm input 
{
    padding: 20px;
    width: 400px;
    font-size: 20px;
    border-radius: 15px;
    background-color: transparent;
    border:1px solid gray;
    color:gray;
}
.RegisterCheck
{
    display: flex;
    width: 400px;
    color: white;
    padding-left: 10px;
    gap: 10px;
}
#RegisterTermsSpan
{
    color: white !important;
}
.RegisterCheck input 
{
    width: 20px !important;
}
.RegisterBtn
{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    justify-content: center;
}
.RegisterBtn button 
{
    padding: 10px;
    width: 200px;
    font-size:15px;
    font-weight: 600;
    background-color: orange;
    border:none;
    border-radius: 15px;
    cursor: pointer;
}

@media (max-width:738px)
{
    .FormsWrapper
    {
        width: 100% !important;
    }
    .FormsWrapper input 
    {
        width: 300px !important;
        padding:15px !important;
    }
    .FormsWrapper button 
    {
        width: 150px !important;
    }
    .FormsWrapper h1
    {
        margin-bottom: 10px !important;
        font-size: 45px !important;
    }
    .RegisterCheck
    {
        width: 100% !important;
        justify-content: center !important;
    }
    .RegisterCheck input 
    {
        padding: 0 !important;
        width: 25px !important;
    }
}
