.Navbar
{
    height: 100px;
}
.NavbarWrapper
{
    max-width: 1366px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.NavbarWrapper h1 
{
    color: purple;
    letter-spacing: 5px;
}
.Social
{
    display: flex;
    align-items: center;
    gap:10px;
}
.Social img 
{
    max-width: 30px;

}
@media (max-width:738px){
    .NavbarWrapper
    {
        flex-direction: row !important;
        justify-content: end !important;
        gap:10px !important;
        padding-right: 20px;
    }
    .NavbarWrapper h1 
    {
        letter-spacing: normal !important;
        font-size: 20px !important;
    }
    .Social
    {
        gap: 5px !important;
    }
    .Social img 
    {
        width:20px !important;
    }
}
@media (max-width:1280px)
{
    .NavbarWrapper
    {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .NavbarWrapper h1 
    {
        letter-spacing: 3px;
        font-size: 30px;
    }
}
