.ToDoList
{
    height: calc(100vh - 100px);
    width: 100%;
    background: linear-gradient(180deg , #0c0c1d,#111134);
}
.ToDoListWrapper
{
    width: 1366px;
    height: 100%;
    color:white;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    gap: 20px;
}
.ListHeader
{
    width: 100%;
    display: flex;
    align-items: center;
}
.ListHeader h1 
{
    font-size: 60px;
    color: gray;
}
.DoLists
{
    width: 100%;
}
.DoLists table
{
    width: 100%;
}
.DoLists tbody
{
    text-align: center;
}
.DoLists th 
{
    font-size: 40px;
}
.DoLists td
{
    padding: 20px;
    font-size: 20px;
}
.DoLists table
{
    border-collapse: collapse;
}
.DoLists th 
{
    border-bottom: 1px solid gray;
}
.DoLists td 
{
    border-bottom: 1px solid rgba(116, 115, 115, 0.5);
}
.DoLists input 
{
    scale: 2;
}
.buttons
{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: end;
}
.buttons button 
{
    padding: 20px;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
}
.AddTaskWrapper
{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 998;
}
.AddTask
{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 500px;
    gap:10px;
    top:50%;
    left:50%;
    transform: translate(-50% , -50% );
    z-index: 998;
    background-color: white;
    color: black;
    padding: 30px;
    border-radius: 15px;
}
.AddTask h1 
{
    font-size: 50px;
    text-align: center;
}
.AddTask .AddTaskCloseBtn
{
    width: 100%;
    display: flex;
    justify-content: end;
}
.AddTask .AddTaskCloseBtn button
{
    outline: none;
    border:none;
    cursor: pointer;
    background-color: transparent;
    font-size: 20px;
}
.AddTask .AddTaskInput
{
    display:flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.AddTaskInput input 
{
    width: 500px;
    padding: 20px;
    font-size: 20px;
    border-radius: 20px;
}
.AddTaskInput button 
{
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
    background-color: darkblue;
    color:white;
    border:none;
}
.LoadingAnimation
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: transparent;
    border: 3px solid darkcyan;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.LoadingAnimation2
{
    margin: auto;
    background-color: transparent;
    border: 2px solid lightblue;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

@media (max-width:738px)
{
    .ToDoListWrapper
    {
        width: 100% !important;
    }
    .ListHeader
    {
        justify-content: center !important;
        display: none !important;
    }
    .ListHeader h1
    {
        font-size: 20px !important;
    }
    .DoLists th 
    {
        font-size: 15px !important;
    }
    .DoLists td 
    {
        font-size: 15px !important;
    }
    .buttons
    {
        justify-content: center !important;
    }
    .buttons button 
    {
        padding: 10px !important;
        font-size: 20px !important;
        margin-top: 5px !important;
    }
    .DoLists input 
    {
        scale: 1.5 !important;
    }
    .AddTask
    {
        width: 100% !important;
        height: 300px !important;
    }
    .AddTask h1 
    {
        font-size: 25px !important;
    }
    .AddTaskInput
    {
        gap:15px !important;
    }
    .AddTaskInput input 
    {
        width: 300px !important;
        padding: 15px !important;
        font-size: 15px !important;
    }
    .LoadingAnimation
    {
        top:30% !important;
        left: 45% !important;
        transform: translate(-50%,-50%) !important;

    }
}
@media (max-width:1280px)
{
    .ToDoListWrapper
    {
        width: 100%;
        gap: 30px;
        overflow: scroll;
        scrollbar-width: none;
    }
    .ListHeader
    {
        justify-content: center;
    }
    .ListHeader h1
    {
        font-size: 40px;
    }
    .DoLists th 
    {
        font-size: 20px;
    }
    .DoLists td 
    {
        font-size: 18px;
    }
    .buttons
    {
        justify-content: center;
    }
    .buttons button 
    {
        padding: 20px;
        font-size: 20px;
        margin-top: 5px;
    }
    .DoLists input 
    {
        scale: 1.5;
    }
    .AddTask
    {
        width: 100%;
        height: 500px;
    }
    .AddTask h1 
    {
        font-size: 25px;
    }
    .AddTaskInput
    {
        gap:15px;
    }
    .AddTaskInput input 
    {
        width: 400px;
        padding: 15px;
        font-size: 15px;
    }
    .LoadingAnimation
    {
        top:30%;
        left: 45%;
        transform: translate(-50%,-50%);
    }
}