.ToDoList
{
    height: calc(100vh - 100px);
    width: 100%;
    background: linear-gradient(180deg , #0c0c1d,#111134);
}
.ToDoListWrapper
{
    width: 1366px;
    height: 100%;
    color:white;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    gap: 20px;
}
.ListHeader
{
    width: 100%;
    display: flex;
    align-items: center;
}
.ListHeader h1 
{
    font-size: 60px;
    color: gray;
}
.TodoContainer
{
    display:flex;
    flex-direction: row;
    border: 1px solid gray;
    border-radius: 15px;
    overflow: hidden;
}
.DoLists
{
    width: 100%;
    height: 700px;
    overflow: scroll;
    scrollbar-width:none;
    scroll-snap-type: mandatory;
    background-color: transparent;
}
.DoLists table
{
    width: 100%;
}
.DoLists tbody
{
    text-align: center;
}
.DoLists th 
{
    font-size: 40px;
}
.DoLists td
{
    padding: 20px;
    font-size: 20px;
}
.DoLists table
{
    border-collapse: collapse;
}
.DoLists th 
{
    border-bottom: 1px solid gray;
}
.DoLists td 
{
    border-bottom: 1px solid rgba(116, 115, 115, 0.5);
}
.DoLists input 
{
    scale: 2;
}
.buttons
{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}
.buttons button 
{
    padding: 20px;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.5s;
    border: none;
}
.AddTaskWrapper
{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 998;
}
.AddTask
{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 500px;
    gap:10px;
    top:50%;
    left:50%;
    transform: translate(-50% , -50% );
    z-index: 998;
    background-color: white;
    color: black;
    padding: 30px;
    border-radius: 15px;
}
.AddTask h1 
{
    font-size: 50px;
    text-align: center;
}
.AddTask .AddTaskCloseBtn
{
    width: 100%;
    display: flex;
    justify-content: end;
}
.AddTask .AddTaskCloseBtn button
{
    outline: none;
    border:none;
    cursor: pointer;
    background-color: transparent;
    font-size: 20px;
}
.AddTask .AddTaskInput
{
    display:flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.AddTaskInput input 
{
    width: 500px;
    padding: 20px;
    font-size: 20px;
    border-radius: 20px;
}
.AddTaskInput button 
{
    padding: 20px;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
    background-color: darkblue;
    color:white;
    border:none;
}
.LoadingAnimation
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: transparent;
    border: 3px solid darkcyan;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.LoadingAnimation2
{
    margin: auto;
    background-color: transparent;
    border: 2px solid lightblue;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.TodoOprations
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}
.EditTodo
{
    font-size: 30px;
    background-color: transparent;
    color:orange;
    border:none;
    cursor: pointer;
}
.EditInputTitle
{
    background: transparent;
    color:gray;
    border:1px solid lightgray;
    border-radius: 5px;
    width: 150px;
    padding: 3px;
    outline: none;
}
.EditInputDeadLine
{
    background: transparent;
    color:gray;
    border:1px solid lightgray;
    border-radius: 5px;
    width: 40px;
    padding: 3px;
    outline: none;
}
.EditInputStatus
{
    background: transparent;
    color:gray;
    border:1px solid lightgray;
    width: 150px;
    border-radius: 5px;
    padding: 3px;
    outline: none;
}
.ChangeEdit
{
    cursor: pointer;
    font-size: 25px;
    background-color: transparent;
    border: none;
    color:green;
}
.CancelEdit
{
    cursor: pointer;
    font-size: 25px;
    background-color: transparent;
    border: none;
    color:red;
}
.TimerTD
{
    padding: 0px !important;
}
.TodoTabs
{
    display: flex;
    flex-direction: column;
    list-style: none;
    border:none;
    border-right: 1px solid gray;
    border-radius: 0px;
    background-color: transparent;
    width: 200px;
}
.TodoTabs li 
{
   font-size: 40px;
   text-align: center;
   width: 100%;
   height: 75px;
}
.TodoTabs li button
{
    width: 100%;
    height: 100%;
    background-color: gray;
    font-size: 20px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}
.MenuLi
{
    border-bottom: 1px solid gray;
    text-align: center;
    height: auto !important;
}




@media (max-width:738px)
{
    .ToDoListWrapper
    {
        width: 100% !important;
    }
    .TodoContainer
    {
        flex-direction: column !important;
        gap: 5px !important;
    }
    .ListHeader
    {
        justify-content: center !important;
        display: none !important;
    }
    .ListHeader h1
    {
        font-size: 20px !important;
    }
    .DoLists th 
    {
        font-size: 18px !important;
    }
    .DoLists td 
    {
        font-size: 15px !important;
    }
    .buttons
    {
        justify-content: center !important;
    }
    .buttons button 
    {
        padding: 10px !important;
        font-size: 20px !important;
        margin-top: 5px !important;
    }
    .DoLists input 
    {
        scale: 1.5 !important;
    }
    .AddTask
    {
        width: 100% !important;
        height: 300px !important;
        padding: 10px !important;
    }
    .AddTask h1 
    {
        font-size: 25px !important;
    }
    .AddTaskInput
    {
        gap:15px !important;
    }
    .AddTaskInput input 
    {
        width: 300px !important;
        padding: 5px !important;
        font-size: 15px !important;
        border-radius: 10px !important;
    }
    .AddTaskInput button 
    {
        padding: 10px;
        font-size: 15px;
        border-radius: 10px;
    }
    .LoadingAnimation
    {
        top:30% !important;
        left: 45% !important;
        transform: translate(-50%,-50%) !important;

    }
    .TodoOprations
    {
        gap: 10px !important;
    }
    .EditTodo
    {
        font-size: 20px !important;
    }
    .EditInputTitle
    {
        padding: 3px !important;
        width: 70px !important;
    }
    .EditInputDeadLine
    {
        padding: 3px !important;
        width: 30px !important;
    }
    .EditInputStatus
    {
        padding: 3px !important;
        width: 40px !important;
    }
    .ChangeEdit
    {
        font-size: 20px !important;
    }
    .CancelEdit
    {
        font-size: 20px !important;
    }
    .TodoTabs
    {
        flex-direction: column !important;
        border-right: none !important;
        width: 100%;
    }
    .TodoTabs li 
    {
        font-size: 18px !important;
        width: 100% !important;
    }
    .TabsBtns
    {
        display: flex !important;
        width: 100% !important;
        flex-direction: row !important;
    }
    .TabsBtns li 
    {
        height: 50px !important;
    }
    .TodoTabs li button
    {
        width: 100% !important;
        height: 100% !important;
        font-size: 18px !important;
        font-weight: 600 !important;
    }
    .MenuLi
    {
        height: auto !important;
    }
}
@media (max-width:1280px)
{
    .ToDoListWrapper
    {
        width: 100%;
        gap: 30px;
        overflow: scroll;
        scrollbar-width: none;
    }
    .ListHeader
    {
        justify-content: center;
    }
    .ListHeader h1
    {
        font-size: 40px;
    }
    .DoLists th 
    {
        font-size: 20px;
    }
    .DoLists td 
    {
        font-size: 18px;
    }
    .buttons
    {
        justify-content: center;
    }
    .buttons button 
    {
        padding: 20px;
        font-size: 20px;
        margin-top: 5px;
    }
    .DoLists input 
    {
        scale: 1.5;
    }
    .AddTask
    {
        width: 100%;
        height: 500px;
    }
    .AddTask h1 
    {
        font-size: 25px;
    }
    .AddTaskInput
    {
        gap:15px;
    }
    .AddTaskInput input 
    {
        width: 400px;
        padding: 15px;
        font-size: 15px;
    }
    .LoadingAnimation
    {
        top:30%;
        left: 45%;
        transform: translate(-50%,-50%);
    }
}